# Exploring the location data of disaster tweets

In [1]:
import pandas as pd
train = pd.read_csv('data/train.csv')
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [2]:
locations = train.loc[~train['location'].isnull(), ['location','target']]
locations.head()

                         location  target
31                     Birmingham       1
32  Est. September 2012 - Bristol       0
33                         AFRICA       1
34               Philadelphia, PA       0
35                     London, UK       0

# Use the openstreetmap geocoder to find the coordinates of the locations

In [3]:
from geopandas.tools import geocode

### Encode a single location

In [37]:
locations['location'].iloc[0]

'Birmingham'

In [38]:
from geopy import Nominatim
locator = Nominatim(user_agent="myGeocoder")
location = locator.geocode(locations['location'].iloc[0])

In [39]:
location

Location(Birmingham, West Midlands Combined Authority, England, United Kingdom, (52.4796992, -1.9026911, 0.0))

In [42]:
print(location.longitude, location.latitude, location.altitude)

-1.9026911 52.4796992 0.0

### Encode all

In [ ]:
from geopy.extra.rate_limiter import RateLimiter

geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
locations['coded_location'] = locations['location'].apply(geocode)